@model TasksTODO.Models.TasksModel

@{
    ViewData["Title"] = "Update";
}
<h1>EditTask</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostUpdate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskID" class="control-label"></label>
                <input asp-for="TaskID" class="form-control" readonly />
                <span asp-validation-for="TaskID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTheme" class="control-label"></label>
                <input asp-for="TaskTheme" class="form-control" />
                <span asp-validation-for="TaskTheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="ReadTasks">Back to List</a>
</div>